#tablaAmigos{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left:10%;
    z-index: 21;
    width: 80vw;
    overflow: auto !important;
    height: 70vh;
}

#productosTabla {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
}

#productosTabla th, #productosTabla td {
    padding: 1vw;
    text-align: center;
}

#productosTabla th {
    background-color: #006D80;
    color:#b4e2ec;
    font-weight: bold;
    font-size: 2vw;
}

#productosTabla td{
    color:#fff;
    font-weight: 500;
    background-color: #4e789892;
    font-size: 1.8vw;
}

#productosTabla td span{
    padding: 1vw;
}


@media (max-width: 700px) {
    #productosTabla, #productosTabla thead, #productosTabla tbody, #productosTabla th, #productosTabla td, #productosTabla tr {
        display: block;
    }

    #tablaAmigos {
        top: 26%;
        left: 5vw;
        width: 90vw;
    }

    #productosTabla{
        width: 90vw;
    }

    #productosTabla tbody{
        overflow-y: auto; /* Scroll en el cuerpo de la tabla */
        max-height: 50vh; /* Fija la altura máxima para permitir scroll */
    }

    #productosTabla tr {
        width: 90vw;
    }

    #productosTabla td {
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 2vw;
        border: none;
        position: relative;
        font-weight:normal;
    }

    #productosTabla td:nth-child(3){
        justify-content:space-between;
        padding: 0 14vw 0 14vw;
    }

    #productosTabla th, #productosTabla td {
        font-size: 6vw;
    }
}
